@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 60 9% 98%; /* stone-50 */
    --foreground: 24 10% 10%; /* stone-900 */
    --card: 0 0% 100%;
    --card-foreground: 24 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 10% 10%;
    --primary: 347 77% 50%; /* rose-600 */
    --primary-foreground: 0 0% 100%;
    --secondary: 60 5% 96%; /* stone-100 */
    --secondary-foreground: 24 10% 10%;
    --muted: 60 5% 96%;
    --muted-foreground: 24 6% 45%; /* stone-500 */
    --accent: 60 5% 96%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 6% 83%; /* stone-300 */
    --input: 24 6% 83%;
    --ring: 347 77% 50%; /* rose-600 */
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.375rem;
  }
  .dark {
    --background: 24 10% 4%;
    --foreground: 60 9% 98%;
    --card: 24 10% 4%;
    --card-foreground: 60 9% 98%;
    --popover: 24 10% 4%;
    --popover-foreground: 60 9% 98%;
    --primary: 347 77% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 24 6% 15%;
    --secondary-foreground: 60 9% 98%;
    --muted: 24 6% 15%;
    --muted-foreground: 24 6% 64%;
    --accent: 24 6% 15%;
    --accent-foreground: 60 9% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 6% 15%;
    --input: 24 6% 15%;
    --ring: 347 77% 50%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
